<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jetro.mobileclient"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="n/a" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.jetro.mobileclient.application.GlobalApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_jetro_launcher"
        android:label="@string/app_title"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.jetro.mobileclient.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
            <intent-filter android:label="@string/app_title" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jetro.mobileclient.ui.ConnectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
        </activity>
        <activity
            android:name="com.jetro.mobileclient.ui.AboutPopupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
        </activity>
        <activity
            android:name="com.jetro.mobileclient.ui.ConnectionsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
        </activity>
        <activity
            android:name="com.jetro.mobileclient.ui.DesktopActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
        </activity>
        <activity
            android:name="com.jetro.mobileclient.ui.SessionActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
        </activity>
        <activity
            android:name="com.jetro.mobileclient.ui.JetroSessionActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
        </activity>

        <!-- Main activity -->
        <!-- <activity -->
        <!-- android:name="com.freerdp.freerdpcore.presentation.HomeActivity" -->
        <!-- android:alwaysRetainTaskState="true" -->
        <!-- android:label="@string/app_title" -->
        <!-- android:theme="@style/Theme.Main" > -->
        <!-- <intent-filter android:label="@string/app_title" > -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- F -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


        <!-- <data -->
        <!-- android:host="*" -->
        <!-- android:pathPattern=".*\\.rdp" -->
        <!-- android:scheme="http" /> -->
        <!-- <data -->
        <!-- android:host="*" -->
        <!-- android:pathPattern=".*\\.rdp" -->
        <!-- android:scheme="file" /> -->
        <!-- <data android:mimeType="*/*" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- Session request handler activity - used for search and internally to start sessions -->
        <!-- This should actually be defined in FreeRDPCore lib but Android manifest merging will -->
        <!-- append the libs manifest to the apps manifest and therefore aliasing is not possible -->
        <activity
            android:name="com.freerdp.freerdpcore.services.SessionRequestHandlerActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".services.SessionRequestHandlerActivity"
            android:targetActivity="com.freerdp.freerdpcore.services.SessionRequestHandlerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity-alias>

        <provider
            android:name="com.freerdp.freerdpcore.services.FreeRDPSuggestionProvider"
            android:authorities="com.freerdp.afreerdp.services.freerdpsuggestionprovider" >
        </provider>

        <receiver
            android:name="com.jetro.mobileclient.ui.NetworkChangeReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>